p{
    color: bisque;
    border-width: 5px;
    border-color: darkkhaki;
    border-style: solid;
    border-width: 3px;
    border-radius: 8px;
    border-bottom: 5px;
   }
#metin{
    color: beige;
}

.aciklama{
    color: azure;
}

*{
    color: blanchedalmond;
    
}
body{
    background: burlywood url("pasta.jpeg") no-repeat center top;
}
